@{
    ViewData["Title"] = "Company Page";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white"> Founded in 1950, Dunkin' is one of the world's leading franchisors of Quick Service Restaurants (QSRs). With around 13,500 stores across 42 countries, Dunkin' has been winning the hearts of customers with its delectable range of freshly brewed coffee and espresso, donuts, baked goods and more.</p>