@{
    ViewData["Title"] = "Franchise Page";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white"> We have franchise at various locations.</p>
<div class="text-white">
    <ol>
        <li>Texas</li>
        <li>New York</li>
        <li>Kansas</li>
    </ol>
</div>