@{
    ViewData["Title"] = "Menu Page";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<div class="text-white">
    <ol>
        <li>Chocolate Donut</li>
        <li>Rasberry Donut</li>
    </ol>
</div>